@import "colors.css";
@import "fonts.css";

body {
  background-color: var(--color-bg);
  font-family: "Libertinus Sans", sans-serif;
  font-size: 19px;
  color: var(--color-body);
  width: min(100% - 5rem, 1200px);
  margin: auto;
  padding-bottom: 100px;

  line-height: 1.5;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

h1, h2, .subtitle {
  text-align: center;
  font-weight: normal;

  line-height: 1.1;
}

h1 {
  color: var(--color-title);
  font-size: 3em;

  justify-self: center;
  margin-bottom: 1rem;

  padding-bottom: 10px;
  border-bottom: 5px dotted;
}

.subtitle {
  color: var(--color-subtitle);

  font-size: 1.8em;
  font-style: italic;
  margin-top: 1rem;
}

h2 {
  font-size: 1.9em;
}

strong {
  font-family: "Libertinus Serif", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: var(--color-accent);
  font-size: 1.2em;
}

.cols {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cols > div {
  flex: 1;
}

.blob {
  width: fit-content;
}

.funny-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 85%;
  margin-top: -15px;
  margin-bottom: 15px;
  
  list-style: none;
}
.funny-links a {
  font-size: 1.2em;
  background-color: var(--color-flink);
  padding: 45px 50px;
  margin-bottom: -15px;

  text-align: center;
  color: var(--color-flink-fg);
  text-decoration: none;
}

.pop {
  padding: 50px 70px;
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: -10px;
  background-color: var(--color-pop);
  color: var(--color-pop-fg);
}

.shifted {
  max-width: 60%;
  margin-left: 40px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

ul {
  padding-left: 0px;
  margin: 0px;
}
ul li {
  display: block;
}
