@import "colors.css";
@import "fonts.css";

body {
  background-color: var(--color-bg);
  font-family: "Libertinus Sans", sans-serif;
  font-size: 19px;
  color: var(--color-body);
  width: min(100% - 5rem, 1200px);
  margin: auto;
  padding-bottom: 100px;

  line-height: 1.5;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

h1, h2, .subtitle {
  text-align: center;
  font-weight: normal;

  line-height: 1.1;
}

h1 {
  color: var(--color-title);
  font-size: 3em;

  justify-self: center;
  margin-bottom: 1rem;

  padding-bottom: 10px;
  border-bottom: 5px dotted;
}

.subtitle {
  color: var(--color-subtitle);

  font-size: 1.8em;
  font-style: italic;
  margin-top: 1rem;
}

h2 {
  font-size: 1.9em;
}

strong {
  font-family: "Libertinus Serif", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: var(--color-accent);
  font-size: 1.2em;
}

.cols {
  display: flex;
  align-items: center;
}

.cols > div {
  flex: 1;
}

.blob {
  width: fit-content;
}

.funny-links {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;

  :nth-child(2) {
    margin-left: -40px;
  }
  :nth-child(3) {
    margin-left: 80px;
  }
  :nth-child(4) {
    margin-left: 40px;
  }
}
.funny-links a {
  font-size: 1.2em;
  background-color: var(--color-flink);
  padding: 45px 50px;
  height: fit-content;

  text-align: center;
  color: var(--color-flink-fg);
  text-decoration: none;
}

.pop {
  text-align: center;
  padding: 50px 70px;
  max-width: 400px;
  height: fit-content;
  margin-top: 0px;
  margin-bottom: -10px;
  background-color: var(--color-pop);
  color: var(--color-pop-fg);
}

.shifted {
  max-width: 60%;
  margin-left: 40px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

ul {
  padding-left: 0px;
  margin: 0px;
}
ul li {
  display: block;
}


.pops {
  margin: auto;
}

.pops.triangle {
  max-width: 800px;
  display: flex;
  gap: 0px;
  align-items: center;
  :first-child {
    margin-right: -20px;
  }
  > div :first-child {
    margin-bottom: 10px;
  }
}

.pops.row {
  max-width: 900px;
  display: flex;
  align-items: center;
}

.pops.stairs {
  max-width: 1000px;
  :first-child {
    margin-left: auto;
  }
  :nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
}

.pops.pyramid {
  max-width: 800px;

  > div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
  }
  .pop {
    max-width: 200px;
  }
}

form p {
  max-width: 800px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  label {
    margin-right: 30px;
  }
  
  input, textarea, select, button {
    vertical-align: middle;
    background: transparent;
    color: var(--color-accent);
    border: 3px solid var(--color-accent);
    border-radius: 30px;
    padding: 10px;
    font: inherit;
    appearance: none;

    &:active, &:focus-visible {
      outline: 2px solid var(--color-accent);
    }
  }

  select {
    text-align: center
  }
}

#submitted-msg {
  margin-top: 40px;
  display: none;
  justify-self: center;
  padding: 30px 40px;

  font-size: 1.5em;
  background-color: var(--color-accent);
  border: 3px solid var(--color-accent);

  color: var(--color-bg);
}
